[project]
	description = Sample implementation of repo smartsync manifest server in node.js
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dmitry Fink (finik)
[access "refs/for/refs/*"]
	read = group user/Dmitry Fink (finik)
	push = group user/Dmitry Fink (finik)
	label-Code-Review = -2..+2 group user/Dmitry Fink (finik)
	label-Verified = -1..+1 group user/Dmitry Fink (finik)
	rebase = group user/Dmitry Fink (finik)
	removeReviewer = group user/Dmitry Fink (finik)
	submit = group user/Dmitry Fink (finik)
[access "refs/heads/*"]
	read = group user/Dmitry Fink (finik)
	create = group user/Dmitry Fink (finik)
	push = +force group user/Dmitry Fink (finik)
	pushMerge = group user/Dmitry Fink (finik)
[access "refs/tags/*"]
	push = +force group user/Dmitry Fink (finik)
	pushTag = group user/Dmitry Fink (finik)
	pushSignedTag = group user/Dmitry Fink (finik)
